* {
    -fx-font-family: "Lucida Sans Unicode";
    -fx-font-size: 14;
}

.background {
    -fx-background-color: #2aaaac;
}

.list-view {
    -fx-background-color: #fff;
}

.list-cell:selected {
    -fx-background-color: #2aaaac;
}

.welcomeScreenLabel {
    -fx-font: 22 bold;
}

.welcomeButton {
    -fx-background-color: #0bacaa;
}

.editButton {
    -fx-background-color: #6dff62;
}

.saveButton {
    -fx-background-color: #ff5a49;
}


.button:hover {
    -fx-effect: dropshadow(gaussian, #3f3f3f, 8, 0.5, 1, 1);
}

.text-field:readonly {
    -fx-background-color: #e2e2e2;
}

.text-area:readonly .content {
    -fx-background-color: #e2e2e2;
}


